@mixin flex-row($justify: start, $align: flex-start, $gap: 1rem) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
@mixin flex-column($justify: start, $gap: 1rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin grid(
  $row: repeat(auto-fit, minmax(0, 1fr)),
  $col: repeat(1, 1fr),
  $gap: 1rem
) {
  display: grid;
  grid-template-columns: $col;
  grid-template-rows: $row;
  gap: $gap;
}

@mixin flex-center($gap: 0) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin button($bg, $color) {
  background-color: $bg;
  color: $color;
  border: none;
  border-radius: $radius;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  padding: 6px 15px;
}