#btn-back{
  width: 45px;
  height: 45px;
}
.actions-section {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;

  .btn-primary {
    @include button($border-color, $text-color);
  }

  .btn-secondary {
    @include button($border-color, $text-color);
  }

  .btn-tertiary {
    @include button($border-color, $text-color);
    width: 35px;
    height: 35px;
    text-align: center;
  }
}