@use "./../utils/variables" as vars;
@use "./../utils/mixins" as mix;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

body {
  background-color: vars.$primary-color;
  color: vars.$text-color;
  font-family: vars.$font-family;
}

main {
  padding: 1rem 0;
}

.layout {
  @include mix.flex-column(center, center, 1rem);
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .layout {
    @include mix.flex-row(center, flex-start, 1rem);
  }
}
