.menu-left {
  display: none;
}

@media only screen and (min-width: 768px) {
  .menu-left {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #000;
    border-right: 1px solid #222222;
    padding-top: 60px;
    z-index: 50;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .menu-item {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 15px 20px;
        cursor: pointer;
        font-weight: 500;
        border-radius: 8px;

        &:hover {
          background-color: #f2f2f2;
        }

        .icon {
          font-size: 20px;
        }

        .text {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px){
  .menu-left {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #000;
    border-right: 1px solid #222222;
    padding-top: 60px;
    z-index: 50;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    .menu-item {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 15px 20px;
      cursor: pointer;
      font-weight: 500;
      border-radius: 8px;

      &:hover {
        background-color: #f2f2f2;
      }

      .icon {
        font-size: 20px;
      }

      .text {
        font-size: 15px;
        color: #f2f2f2;
      }
    }
  }
}


