.profile {
  max-width: 935px;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: flex-start;

  .lexpin {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .data-right-column {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;

    .lexpin {
      margin: 0 0 20px 0;
    }

    .data-right-column {
      width: 100%;
      align-items: center;
      text-align: center;
    }
  }

  @media (max-width: 657px) {
    .profile {
      flex-direction: column; 
      align-items: center;
    }
  
    .feed {
      width: 100%;
      order: 99; 
    }
  }
}