@use "./../utils/mixins" as mix;

.menu-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: #000000;
  border-top: 1px solid #ddd;
  z-index: 100;

  ul {
    display: flex;
    position: sticky;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      flex: 1;
      text-align: center;

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}


@media only screen and (min-width: 992px) {
  .footer {
    display: none;
  }
}